* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

head {
    display: none;
}

body {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: beige;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p,
li {
    text-align: center;
    margin: auto;
    width: 70%;
    padding: 0.5vh;
}

ul,
li {
    display: block;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}